@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2.Common Styling
  3. Header / .header
    3.1 Logo  
    3.2 Navigation / .navbar
  4. Main
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* ==========================================================================
   2.Common Styling
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  max-width: 1500px;
  width: 79%;
  margin: 0 auto;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.capitalize { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }

.inline-block { display: inline-block; }

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a { 
  display: inline-block;
  text-decoration: none;
}

/* ==========================================================================
   3.Header
   ========================================================================== */
  header { width: 100%; }
  
  .header-top { 
    width: 100%;
    padding: 20px 0;   
  }

  .header-top img { 
    width: 90%;
    height: 40px;
  }
  
  .header-wrapper { 
    max-width: 1500px;
    width: 94.5%; 
    margin: 0 auto;
  }

  .header-top h1 { float: left; }
  
  .menu i { display: none; }

  .navbar { 
    width: 80%;
    padding-top: 1%;
    display: inline-block;
    text-align: right; 
    float: right;
    vertical-align: middle;
  }

  .navbar li:not(:last-child) { padding: 0 1.8%; }

  .navbar li:last-child { padding-left: 1.5%; }

  .navbar li a {
    position: relative;
    color: #1a3f6f;
    font-size: 15px;
  }  
  
  .navbar li a:after {
    content: '';
    width: 100%;
    height: 1em;
    margin-top: 5px;
    border-bottom: 1px solid;
    display: inline-block;
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }

  .navbar li a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .header-bottom {
    padding: 6px 0; 
    background: -webkit-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -moz-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -ms-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -o-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: linear-gradient(to right, #55d7b1 , #1b3e71);
  }

  .head-info { 
    color: white; 
    font-size: 12px;
    text-transform: capitalize;
    opacity: 0.5;
  }
  
  .share { 
    float: right;
    opacity: 0.5;
  }

  .share-ul li:first-child {
    margin-right: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .share-ul li a { 
    color: white;
    font-size: 14px; 
  }

  .share-ul li a:hover { color: #54d5b1; }

  .share-ul li:not(:last-child) { padding: 0 3px; }

  .share-ul li:nth-child(2) { padding-left: 9px; }

   /* ==========================================================================
   4.Main
   ========================================================================== */
  
  /*======================= banner start here =========================*/

  .banner { 
    width: 100%; 
    position: relative;}

  .banner-content { 
    width: 100%;
    padding-top: 80px;
    padding-bottom: 70px; 
    position: relative;
  }

  .banner-content h2 { 
    display: inline-block;
    color: #1a3f6f;
    font-size: 34px;
  }

  .banner-content p {
    margin-top: 15px;
    color: #7d7d7e;
    line-height: 33px;
    font-size: 23px;
  }
  
  .content-left { 
    width: 65%;
    display: inline-block;
    vertical-align: middle;  
  }
  
  .btn-gradient {
    display: inline-block;
    background: -webkit-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -moz-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -ms-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -o-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: linear-gradient(to right, #55d7b1 , #1b3e71);
    transform: translateY(50%);
    float: right;
  }

  .banner-content a:last-child {
    padding: 24px 23px;
    margin: 3px 3px;
    border: none;
    text-transform: uppercase;
    color: #1a3f6f;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    background: white;
  }  

  .banner-content a:hover {
    color: white;
    background: -webkit-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -moz-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -ms-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -o-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: linear-gradient(to right, #55d7b1 , #1b3e71);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  } 

  .banner:after {
    content: " ";
    width: 100%; 
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/Divider.png);
  }

  /*=============================== banner ends here ======================*/
  
  /*============================== services start here ========================*/
  
  .healthcare-details { 
    width: 100%; 
    margin: 70px 0;
  }

  .services-ul { 
    width: 70%;
    float: left; }

  .services-ul img { 
    width: 34.5%;
    height: auto; 
  }

  .services-content { 
    width: 63%;
    padding-left: 40px; 
    display: inline-block;
    vertical-align: middle; 
  }  

  .services-content h3 { 
    padding-bottom: 16px; 
    color: #1a3f6f;
    font-size: 22px;
  }

  .services-content p {
    color: #8b8b8b;
    font-size: 13px;
    line-height: 20px;
  }

  .services-ul li { position: relative; }

  .services-ul li:first-child { 
    padding-top: 0 !important;
    padding-bottom: 50px; 
  }
  
  .services-ul li:not(:last-child):after {
    content: " ";
    width: 100%; 
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/Divider.png);
  }

  .services-ul li:last-child {  
    padding-bottom: 0 !important; 
    border: none !important;
  }

  .services-ul li:not(:first-child) {
    padding: 50px 0;
  }  
  
  .services-ul li a {
    margin-top: 50px;
    position: relative;
    color: #1a3f6f;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;  
  } 
  
  .services-ul li a:hover {
    color:  #56D8B1;
    text-shadow: 1px 1px 1px #000000;
  }

  .services-ul li a:after {
    content: " ";
    width: 100%;
    height: 3px; 
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background: -webkit-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -moz-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -ms-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -o-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: linear-gradient(to right, #55d7b1 , #1b3e71);
  }

  /*======================= services ends here ======================*/
  
  /*====================== activities start here ====================*/
 
  .activities { 
    width: 25%;
    text-align: center; 
    float: right;
  }

  .activities-ul li { 
    width: 100%;
    padding: 33px 5%;
    margin-bottom: 25px; 
    border: 3px solid #ededed;
  }

  .activities li h4 {
    display: inline-block;
    position: relative; 
    color: #1a3f6f;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px;
  }

  .activities li h4:after {
    content: " ";
    width: 100%;
    height: 3px; 
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background: -webkit-linear-gradient(to right, #56D8B1, #397a9a);
    background: -moz-linear-gradient(to right, #56D8B1, #397a9a);
    background: -ms-linear-gradient(to right, #56D8B1, #397a9a);
    background: -o-linear-gradient(to right, #56D8B1, #397a9a);
    background: linear-gradient(to right, #56D8B1, #397a9a);
  }  

  .activities li p { 
    padding-top: 32px;
    color: #707070; 
    font-size: 13px;
    line-height: 20px;
  }
  
  /*========================= activities ends here ========================*/
  
  /*========================== testimonials starts here ====================*/
  
  .testimonials {
    padding: 75px 0;
    background: -webkit-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -moz-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -ms-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: -o-linear-gradient(to right, #55d7b1 , #1b3e71);
    background: linear-gradient(to right, #55d7b1 , #1b3e71);
  }

  .testimonials-info { 
    color: white;
    font-size: 24px; 
    line-height: 50px;
    text-align: center;
  }

  .about { 
    padding: 40px 0;
    text-align: center;
    text-transform: capitalize;
    color: #aacfd2;
    font-size: 14px;
    line-height: 20px;
  }  

  .about span { display: block; }

  .slider { 
    width: 100%;
    padding: 30px 0;
    text-align: center; 
  }

  .slider li { 
    width: 14px;
    padding: 7px 0;
    margin: 0 8px;
    background-color: white;
    border-radius: 100%;   
  }  

  .slider li:hover { cursor: pointer; }

  .slider li:not(:first-child) { opacity: 0.5; }

  .slider + a { 
    margin-top: 35px;
    display: block;
    position: relative;
    color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center; 
  }

  .slider + a:hover:after { border-bottom: 3px solid #56D8B1; }

  .slider + a:hover { color: #56D8B1; }

  .slider + a:after { 
    content: " ";
    width: 146px; 
    padding: 10px;
    border-bottom: 3px solid white;
    position: absolute;
    bottom: -5px;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
  }

  /*====================== testimonial ends here ====================*/

   /* ==========================================================================
   5.Footer
   ========================================================================== */
  
  footer { 
    padding: 5.5% 0;  
    text-align: center;
  }
  
  .footer-logo { padding-bottom: 4%; }

  .footer-logo img { 
    width: 43px; 
    height: 49px;
  }
  
  .footer-logo a:hover { 
    background: #4dc8aa;
    border-radius: 10px; 
  }

  /*============== footer info starts here =========================*/

  .footer-info-ul { margin-bottom: 3.9%; }

  .footer-info-li {
    width: 15%;
    margin-right: 1%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  } 

  .footer-info-li a {
    color: #003e6f;
    font-size: 15px;
    vertical-align: middle;
  }

  .footer-info-li a:hover {
    color: #5fb69e;
    text-shadow: 1px 1px 1px #000000;
  }

  .social {
    width: 100%;
    margin-left: 9%;
  }

  .social li {
    width: 19%;
    margin-right: 3.5%;
  }

  .social li a { font-size: 21px; }

  .social li:last-child { margin-right: 0; }

  /*==================== footer info ends here =======================*/

  /*===================== footer links starts here ====================*/

  .footer-links li {
    margin-right: 3%;
    display: inline-block;
    position: relative;
    font-size: 14px;
  }

  .footer-links li a { color: #003e6f; }
  
  .footer-links li a:after {
    content: '';
    width: 100%;
    height: 1em;
    margin-top: 5px;
    border-bottom: 1px solid;
    display: inline-block;
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }

  .footer-links li a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .copyright {  
    margin-top: 6%;
    display: block;
    color: #757575;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
  }

  .footer-info-li:first-child { 
    text-transform: uppercase;
  }

  .footer-info-li:last-child {
    width: 14%;
  }

  /*======================== footer links ends here ======================*/

  /*======================== media query start here =======================*/
  
  @media screen and (max-width:  1225px) {

    .activities li h3 { font-size: 12px; }
  }

  @media screen and (max-width: 997px) {
    
    .banner-content a:last-child {
      padding: 20px 12px;
      font-size: 12px;
    }

    .btn-gradient { 
      transform: none; 
      float: none;
    }

    .activities { 
      width: 100%;
      padding: 40px 0;
      display: inline-block;
      float: none; 
      text-align: center;
    }
    
    .activities-ul li { display: inline-block; }

    .services-ul { 
      width: 100%;
      float: none; 
    }

    .navbar { display: none; }
    
    .navbar li a { font-size: 18px; }

    .fas {
      padding-right: 0;
      font-size: 30px; 
    }

    .menu i { display: inline-block; }  

    .menu { 
      margin: 0.7% auto;
      display: grid;
      position: relative;
      float: right;
      cursor: pointer;
    }

    .menu:hover .navbar {
      width: 93vw;
      padding: 1% 0;
      display: inline-block;
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 1;
      background: -webkit-linear-gradient(to right, #55d7b1 , #1b3e71);
      background: -moz-linear-gradient(to right, #55d7b1 , #1b3e71);
      background: -ms-linear-gradient(to right, #55d7b1 , #1b3e71); 
      background: -o-linear-gradient(to right, #55d7b1 , #1b3e71); 
      background: linear-gradient(to right, #55d7b1 , #1b3e71); 
    }

    .navbar li { 
      padding: 18px 0 !important;
      display: block;
      text-align: center; 
    }
    
    .navbar li a { color: white; }
    
    .footer-info-ul { 
      width: 100%;
      display: inline-block;
      text-align: center; 
      }

    .footer-info-li {
      width: 100% !important;
      padding: 2% 0; 
      display: block; 
      text-align: center;
    }
    
    .social { margin: 0; }

    .social li { 
      width: 9% !important;
      display: inline-block; 
    }

    .footer-links li { margin-right: 1.9%; }
  }

  /*======================= Mobile view media query ========================*/

  @media screen and (max-width: 768px) {
    
    .header-wrapper { width: 79%; }

    .menu:hover .navbar { 
      width: 90vw;
      right: -100%;
    }

    .activities li h3 { font-size: 15px; }

    .content-left { width: 100%; }

    .btn-gradient { 
      margin-top: 40px;
      float: none; 
    }

    .services-content { 
      width: 100%;
      padding-left: 0; 
      padding-top: 32px;
    }
    
    .services-content p { font-size: 14px; }

    .services-ul img { 
      width: 100%;
      text-align: center;
    }
    
    .share-ul li { display: none; }

    .share-ul li:first-child { 
      padding: 0;  
      margin: 0;
      display: inline-block; 
    }

    .testimonials {
      background: -webkit-linear-gradient(to bottom, #55d7b1 , #1b3e71);
      background: -moz-linear-gradient(to bottom, #55d7b1 , #1b3e71);
      background: -ms-linear-gradient(to bottom, #55d7b1 , #1b3e71);
      background: -o-linear-gradient(to bottom, #55d7b1 , #1b3e71);
      background: linear-gradient(to bottom, #55d7b1 , #1b3e71);
    }
    
    .testimonials-info { 
      font-size: 22px;
      line-height: 40px;
    }

    footer { padding: 10% 0; }
    
    .footer-info-li { padding: 2.5% 0 !important; }    

    .social li { margin: 0 5px !important; }

    .banner-content a:last-child:hover { 
      color: #1a3f6f;
      background: white; 
    } 

    .banner-content a:last-child { padding: 24px 35px; }

    .services-ul li a:hover { 
      color: #1a3f6f;
      text-shadow: unset;
    }

    .share-ul li a:hover { color: white; }

    .slider + a:hover:after { border-bottom: 3px solid white; }

    .slider + a:hover { color: white; }

    .slider li:hover { cursor: initial; }

    .footer-info-li a:hover { 
      color: #003e6f;
      text-shadow: none;
    }
    
    .footer-links li a:hover:after { 
      width: 0;
      text-decoration: none;
      transform: scale(0 ,0);
    }

    .footer-links li a { margin: 14px 0; }

    .navbar li a:hover:after { 
      width: 0;
      text-decoration: none;
      transform: scale(0 ,0); 
    }
    
    .footer-logo a:hover { 
      background: white;
      border-radius: 0; 
    }

  }

  /*===================== Media query ends here ======================*/

